@{
    ViewBag.Title = "About";
}
<h2>Author: Stephen T. Parsons</h2>
<p>Cell Phone : 518-421-2458</p>

<h2>Requirements</h2>
<p>Application Requirements : Execute under IIS with .NET framework 4.5</p>