@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sudoku Games</h1>
    <p class="lead">Your source for Sudoku Games.</p>
    <hr />
    <p class="lead">Try our new most popular feature : The Validation Tool</p>
    <p class="lead">Browse our About page for some sample data to use.</p>
</div>
