@model SudokuValidation.Models.SudokuGrid
@{
    ViewBag.Title = "Index";
}

<div class="container">

    <h1>Sudoku Validation</h1>
    <h2>Input Numbers</h2>
    <input id="inNumbers" type="text">
    <h2>Validation Grid</h2>
    <table id="grid">
        @foreach ( var row in Model.Grid )
        {
            <tr>
                @foreach ( var col in row )
                {
                    <td>
                        <input id="cell-@Model.IndexIterator" type="text" value="@col" disabled/>
                    </td>
                    Model.IndexIterator++;
                }
            </tr>
        }
    </table>

</div>


