@model SudokuValidation.Models.SudokuGrid
@{
    ViewBag.Title = "Validate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sudoku Validation</h2>
<div class="container">

    @{
        var rowIndex = 0;
        var colIndex = 0;
    }

    @if(Model.ValidatorGrid.IsAllGridValid())
    { 
        <h2 style="color:green">The Puzzle is valid!</h2>
    }
    else
    {
        <h2 style="color:red">Sorry. The Puzzle is not valid!</h2>
    }


    <table id="grid">
        @foreach ( var row in Model.ValidatorGrid.Grid )
        {
            colIndex = 0;
            <tr>
                @foreach ( var col in row )
                {
                    if ( Model.ValidatorGrid.IsRowValid( rowIndex )
                        && Model.ValidatorGrid.IsColumnValid( colIndex )
                        && Model.ValidatorGrid.IsBlockValid( rowIndex,  colIndex ) )
                    {
                        <td>
                            <input id="cell-@Model.IndexIterator" type="text" value="@col" disabled />
                        </td>
                    }
                    else
                    {
                        <td>
                            <input id="cell-@Model.IndexIterator" type="text" value="@col" style="background-color: indianred" disabled />
                        </td>
                    }
                    Model.IndexIterator++;
                    colIndex++;
                    
                }
            </tr>
            rowIndex++;
        }
    </table>

</div>

